<!DOCTYPE html>
<html lang="fr">
<head>
	<meta charset="UTF-8">
	<title>GIL Website</title>
</head>
<body>
	<h1>Site GIL</h1>
	<div>
		<p><strong>Bienvenue sur le site GIL</strong></p>
		<p>Serveur: Nginx</p>
	</div>
</body>
</html>