---

- name: Remove default nginx site
  file:
    path: /etc/nginx/sites-enabled/default
    state: absent

- name: Create ModSecurity directory
  file:
    path: /etc/nginx/modsec
    state: directory

- name: Configure ModSecurity
  shell: |
    if [ -f /etc/modsecurity/modsecurity.conf-recommended ]; then
      cp /etc/modsecurity/modsecurity.conf-recommended /etc/nginx/modsec/modsecurity.conf
      sed -i 's/SecRuleEngine DetectionOnly/SecRuleEngine On/' /etc/nginx/modsec/modsecurity.conf
    else
      cat > /etc/nginx/modsec/modsecurity.conf <<'MCONF'
    SecRuleEngine On
    SecRequestBodyAccess On
    SecResponseBodyAccess Off
    MCONF
    fi
  args:
    creates: /etc/nginx/modsec/modsecurity.conf

- name: Create ModSecurity main config
  copy:
    dest: /etc/nginx/modsec/main.conf
    content: |
      Include /etc/nginx/modsec/modsecurity.conf
      Include /usr/share/modsecurity-crs/owasp-crs.load

- name: Fix CRS loader
  replace:
    path: /usr/share/modsecurity-crs/owasp-crs.load
    regexp: '^IncludeOptional'
    replace: 'Include'

- name: Copy Nginx WAF config
  template:
    src: nginx-waf.conf.j2
    dest: /etc/nginx/nginx.conf
  notify: restart nginx

