<VirtualHost *:80>
    ServerName ssi.local
    DocumentRoot /var/www/ssi
    
    ErrorLog ${APACHE_LOG_DIR}/ssi-error.log
    CustomLog ${APACHE_LOG_DIR}/ssi-access.log combined
    
    <Directory /var/www/ssi>
        Options Indexes FollowSymLinks
        AllowOverride None
        Require all granted
    </Directory>
</VirtualHost>