<?php
echo '<!DOCTYPE html>' . "\n";
echo '<html lang="fr">' . "\n";
echo '<head>' . "\n";
echo '	<meta charset="UTF-8">' . "\n";
echo '	<title>GIL Website</title>' . "\n";
echo '</head>' . "\n";
echo '<body>' . "\n";
echo '	<h1>Site GIL</h1>' . "\n";
echo '	<div>' . "\n";
echo '		<p><strong>Bienvenue sur le site GIL</strong></p>' . "\n";
echo '		<p>Serveur: Nginx</p>' . "\n";
echo '	</div>' . "\n";
echo '</body>' . "\n";
echo '</html>' . "\n";
?>