---
- name: Create LXD networks
  shell: |
     network create {{ item }} ipv6.dhcp=false ipv4.dhcp=false ipv6.nat=false ipv4.nat=false --type bridge || true
  loop:
    - waf_net
    - back_net
    - redis_net

- name: Launch LXD containers
  shell: |
     launch ubuntu:24.04 {{ item }} || true
  loop:
    - haproxy
    - waf1
    - waf2
    - web1
    - web2
    - web3
    - redis

- name: Wait for containers to be ready
  shell: " exec {{ item }} -- true"
  register: container_ready
  until: container_ready.rc == 0
  retries: 30
  delay: 2
  loop:
    - haproxy
    - waf1
    - waf2
    - web1
    - web2
    - web3
    - redis

- name: Attach network interfaces to containers
  shell: |
     config device add {{ item.container }} {{ item.device }} nic nictype=bridged parent={{ item.network }} name={{ item.device }} || true
  loop:
    - { container: 'haproxy', device: 'eth1', network: 'waf_net' }
    - { container: 'waf1', device: 'eth0', network: 'waf_net' }
    - { container: 'waf1', device: 'eth1', network: 'back_net' }
    - { container: 'waf2', device: 'eth0', network: 'waf_net' }
    - { container: 'waf2', device: 'eth1', network: 'back_net' }
    - { container: 'web1', device: 'eth0', network: 'back_net' }
    - { container: 'web1', device: 'eth1', network: 'redis_net' }
    - { container: 'web2', device: 'eth0', network: 'back_net' }
    - { container: 'web2', device: 'eth1', network: 'redis_net' }
    - { container: 'web3', device: 'eth0', network: 'back_net' }
    - { container: 'web3', device: 'eth1', network: 'redis_net' }
    - { container: 'redis', device: 'eth0', network: 'redis_net' }
